<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'30'" class="h-100" @some-event="callback">
      <div>
        <v-text-field v-model="form.full_name" label="Название" variant="outlined"></v-text-field>
        <v-file-input label="Фото ресторана" variant="outlined" @change="changeImage"></v-file-input>
        <v-text-field v-model="form.start_time" label="Время начала" type="time" variant="outlined"></v-text-field>
        <v-text-field v-model="form.end_time" label="Время окончания" type="time" variant="outlined"></v-text-field>
        <v-select v-model="form.role"
                  :items="roleData"
                  item-title="name"
                  item-value="id"
                  label="Роль" variant="outlined"></v-select>
        <v-text-field v-model="form.cost" label="Стоимость" type="number" variant="outlined"></v-text-field>
        <v-text-field v-model="form.experience" label="Опыт" type="number" variant="outlined"></v-text-field>

      </div>
      <v-row>
        <v-col class="d-flex" cols="6">
          <v-btn class="w-100" variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="text-white w-100" color="#DC6803" variant="flat" @click="handleForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Категория сотрудники</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn :name="'Добавить'" @click="dialog = true"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все сотрудники</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr class="w-100">
            <th v-for="(item, idx) in thead" :key="idx" class="text-left w-auto">
              {{ item.value }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx) in staffData" :key="idx"
              class="w-100"
          >
            <td class="w-auto">
              <v-avatar class="mr-2">
                <v-img
                  :src="imageUrl + item.image"
                  alt="John"
                ></v-img>
              </v-avatar>
              {{ item.full_name }}
            </td>
            <td class="w-auto">
              {{ item.start_time }}
            </td>
            <td class="w-auto">
              {{ item.end_time }}
            </td>
            <td class="w-auto">
              {{ item.role }}
            </td>
            <td class="w-auto">
              {{ item.cost }}
            </td>
            <td class="w-auto">
              {{ item.experience }}
            </td>
            <td class="d-flex  align-center">
              <v-btn elevation="0" icon="mdi-pen" @click="editItem(item)"></v-btn>
              <v-btn elevation="0" icon="mdi-delete" @click="deleteFormId(item.id)"></v-btn>
            </td>

          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, onMounted, ref} from "vue";
import {useStore} from "@/stores";
import {useImagesStore} from "@/stores/image";

const imageUrl = import.meta.env.VITE_APP_BASE_IMAGE

const imageStore = useImagesStore()
const indexStore = useStore()

const roleData = [
  {id: 'waiter', name: 'Официант'},
  {id: 'sheff', name: 'Повар'},
  {id: 'manager', name: 'Менеджер'}

]

interface Staff {
  full_name: string,
  image: string,
  start_time: string,
  end_time: string,
  role: string,
  cost: number | string,
  experience: number | string

}

const dialog = ref(false)
const editItemValue = ref(0)

const form = ref<Staff>({
  full_name: '',
  image: '',
  start_time: '',
  end_time: '',
  role: '',
  cost: '',
  experience: 'Выберите роль'
})

indexStore.fetchActionWithoutParams('/staff', 'staff')

const staffData = computed(() => indexStore.data?.staff?.staffs)

const changeImage = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])
  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link
    console.log(form.value.image)
  })
}

const handleForm = () => {
  if (editItemValue.value === 0) {
    indexStore.postAction('/staff', form.value).then(() => {
      indexStore.fetchActionWithoutParams('/staff', 'staff')
    })
  } else {
    indexStore.editAction(`/staff/${editItemValue.value}`, form.value).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams('/staff', 'staff')
      }
    })
  }
  dialog.value = false
  editItemValue.value = 0
  form.value.full_name = ''
  form.value.image = ''
  form.value.start_time = ''
  form.value.end_time = ''
  form.value.role = 'Выберите роль'
  form.value.cost = ''
  form.value.experience = ''
}
const editItem = (item: any) => {
  if (item) {
    form.value.full_name = item.full_name
    form.value.image = item.image
    form.value.start_time = item.start_time
    form.value.end_time = item.end_time
    form.value.role = item.role
    form.value.cost = item.cost
    form.value.experience = item.experience
    editItemValue.value = item.id
  }
  dialog.value = true
}

const deleteFormId = (id: number) => {
  indexStore.deleteAction(`/room/${id}`).then(res => {
    if (res) {
      indexStore.fetchActionWithoutParams('/room', 'room')
    }
  })
}

const callback = () => {
  dialog.value = false
  editItemValue.value = 0
}

onMounted(() => {
})

const thead = [
  {
    value: 'ФИО'
  },
  {
    value: 'Время начала'
  },
  {
    value: 'Время окончания'
  },
  {
    value: 'Роль'
  },
  {
    value: 'Стоимость'
  },
  {
    value: 'Опыт'
  }
]
</script>
