<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'70'" class="h-100" @some-event="callback">
      <v-row>
        <v-col cols="6">
          <v-text-field v-model="form.name" label="Название ресторана" variant="outlined"
          ></v-text-field>
          <v-select v-model="form.restaurant_type_id"
                    :items="restaurantTypeData"
                    item-title="name"
                    item-value="id" label="Категория ресторана" variant="outlined"></v-select>
          <v-row>
            <v-col cols="6">
              <v-text-field v-model="form.prepare_time_start" label="От" type="number"
                            variant="outlined"></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field v-model="form.prepare_time_end" label="До" type="number" variant="outlined"></v-text-field>
            </v-col>
          </v-row>
          <v-file-input label="Все Фото"
                        multiple type="file"
                        variant="outlined" @change="handleImages"
          ></v-file-input>
          <v-file-input accept="image/*" label="Фото лого" variant="outlined"
                        @change="handleLogo"></v-file-input>

          <v-file-input label="Фото главный экран" variant="outlined"
                        @change="handleImage"></v-file-input>

        </v-col>
        <v-col cols="6">
          <v-text-field v-model="form.address.name" label="Адрес ресторана" variant="outlined"
          ></v-text-field>
          <v-row>
            <v-col cols="6">
              <v-text-field v-model="form.address.lat" label="Ланг" variant="outlined"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field v-model="form.address.long" label="Лонг" variant="outlined"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-textarea v-model="form.description" label="Label" variant="outlined"></v-textarea>
          <v-switch
            color="green"
            v-model="form.allow_take_it"
            @change="changeTakeIt(form.allow_take_it)"
            hide-details
            inset
            label="Доставка"
          ></v-switch>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row class="mt-4">
        <v-col class="d-flex justify-end" cols="12">
          <v-btn class="mr-6" variant="outlined">Отменить</v-btn>
          <v-btn class="text-white" color="#DC6803" variant="flat" @click="handlePostForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Рестораны</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn :name="'редактировать'" @click="dialogActive"></add-btn>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script lang="ts" setup>
import $axios from "@/plugins/axios";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, onMounted, ref} from "vue";
import {useImagesStore} from "@/stores/image";
import {useRestaurantStore} from "@/stores/restaurant";

const imageStore = useImagesStore()
const restaurantStore = useRestaurantStore()

interface Restaurant {
  name: string,
  description: string,
  restaurant_type_id: number,
  allow_take_it: boolean
  address: {
    id: number | null
    name: string,
    lat: string,
    long: string
  },
  prepare_time_start: number,
  prepare_time_end: number,
  images: [],
  image: string,
  logo: string
}

const form = ref<Restaurant>({
  name: '',
  description: '',
  restaurant_type_id: 0,
  address: {
    id: null,
    name: '',
    lat: '',
    long: ''
  },
  prepare_time_start: 30,
  prepare_time_end: 40,
  images: [],
  allow_take_it: false,
  image: '',
  logo: ''

})
const dialog = ref(false)
const oneData = ref()

const changeTakeIt = (val: boolean) => {
  form.value.allow_take_it  = val
}

const dialogActive = () => {
  dialog.value = true
  form.value.name = oneData.value.name
  form.value.description = oneData.value.description
  form.value.restaurant_type_id = oneData.value.restaurant_type_id
  form.value.address.name = oneData.value.address.name
  form.value.address.lat = oneData.value.address.lat
  form.value.address.id = oneData.value.address.id
  form.value.address.long = oneData.value.address.long
  form.value.prepare_time_start = oneData.value.prepare_time_start
  form.value.prepare_time_end = oneData.value.prepare_time_end
  form.value.images = oneData.value.images
  form.value.image = oneData.value.image
  form.value.logo = oneData.value.logo
  form.value.allow_take_it = oneData.value.allow_take_it
}
const callback = () => {
  dialog.value = false

}


const restaurantTypeData = computed(() => restaurantStore.restaurantType?.data?.restaurantTypes)

const handleImages = (e: any) => {
  const files = e.target.files
  const data = new FormData();
  data.append('path', 'restaurant')
  for (let i = 0; i < files.length; i++) {
    data.append('files', e.target.files[i])
  }

  imageStore.postImages(data).then(() => {
    const image = imageStore.images?.data?.links
    form.value.images = Object.values(image)
  })

}
const handleImage = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])

  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link

  })

}
const handleLogo = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])

  imageStore.postImage(data).then(() => {
    form.value.logo = imageStore.image?.data?.link
  })
}

const handlePostForm = () => {
  restaurantStore.putRestaurant(form.value).then(() => {
    fetchRestaurant()
    dialog.value = false
  })
}

const fetchRestaurant = () => {
  $axios.get('/').then(res => {
    oneData.value = res?.data?.restaurant
  })
}

onMounted(() => {
  restaurantStore.fetchRestaurantType()
  fetchRestaurant()
})
const thead = [
  {
    name: 'restaurant_name',
    value: 'Название ресторана'
  },
  {
    name: 'dostavki',
    value: 'Лимит доставки'
  },
  {
    name: 'opisanie',
    value: 'Описание'
  },
  {
    name: 'status',
    value: 'Cтатус'
  },

]
</script>
