<template>
  <div class="h-100">
    <div class="main h-100">
      <!--      open data-->
      <div class="h-100" style="background: #FCFCFD; overflow-y: auto">
        <div class="h-auto" style=" position: relative">
          <the-modal :dialog="dialog" @some-event="calback"></the-modal>

          <div class="py-3 px-2 d-flex justify-space-between"
               style="position:sticky; z-index: 1; top: 0px; background: #EFF8FF; width: 100%">
            <span style="color: #2E90FA">Новые заказы</span>
            <v-icon class="ml-2" color="#2E90FA" icon="mdi-arrow-down"></v-icon>
          </div>
          <v-card v-for="(item, idx) in props.openData" :key="idx" class="pa-3 mx-2 mt-4"
                  elevation="1"
                  style="display: grid; grid-template-rows: auto; gap: 10px; cursor:pointer;"
                  @click="dialog= true">
            <div class="d-flex justify-space-between">
              <span>{{ item.customer?.full_name }}</span>
              <span style="color: #667085">{{ item.day }} {{ item.time }}</span>
            </div>
            <div>
              <span style="color: #DC6803">+{{ item.customer.phone }}</span>
            </div>
            <div class="d-flex justify-space-between align-center">
              <span style="color: #667085">${{ item.total }}</span>
              <span
                style="color: #DC6803; background: #FFFAEB; border-radius: 16px; padding: 1px">{{
                  isTakeIt(item.take_it)
                }}</span>
              <span style="color: #039855">{{ methodRu[item.method] }}</span>
            </div>
          </v-card>
        </div>
      </div>
      <!--      dispatcher data-->
      <div class="h-100" style="background: #FCFCFD; overflow-y: auto">
        <div class="h-auto" style=" position: relative">
          <the-modal :dialog="dialog" @some-event="calback"></the-modal>
          <div class="py-3 px-2 d-flex justify-space-between"
               style="position:sticky; z-index: 1; top: 0px; background: #EFF8FF; width: 100%">
            <span style="color: #12B76A">Подтверждённые заказы</span>
            <v-icon class="ml-2" color="#12B76A" icon="mdi-arrow-down"></v-icon>
          </div>
          <v-card v-for="(item, idx) in props.acceptedDispatcherData" :key="idx" class="pa-3 mx-2 mt-12"
                  elevation="1"
                  style="display: grid; grid-template-rows: auto; gap: 10px; cursor:pointer;"
                  @click="dialog= true">
            <div class="d-flex justify-space-between">
              <span>{{ item.customer?.full_name }}</span>
              <span style="color: #667085">{{ item.day }} {{ item.time }}</span>
            </div>
            <div>
              <span style="color: #DC6803">+{{ item.customer.phone }}</span>
            </div>
            <div class="d-flex justify-space-between align-center">
              <span style="color: #667085">${{ item.total }}</span>
              <span
                style="color: #DC6803; background: #FFFAEB; border-radius: 16px; padding: 1px">{{
                  isTakeIt(item.take_it)
                }}</span>
              <span style="color: #039855">{{ methodRu[item.method] }}</span>
            </div>
          </v-card>
        </div>
      </div>
      <!--restaurant data-->
      <div class="h-100" style="background: #FCFCFD; overflow-y: auto">
        <div class="h-auto" style=" position: relative">
          <the-modal :dialog="dialog" @some-event="calback"></the-modal>
          <div class="py-3 px-2 d-flex justify-space-between"
               style="position:sticky; z-index: 1; top: 0px; background: #EFF8FF; width: 100%">
            <span style="color: #F79009">Завидение подтвердил</span>
            <v-icon class="ml-2" color="#F79009" icon="mdi-arrow-down"></v-icon>
          </div>
          <v-card v-for="(item, idx) in props.acceptedRestaurantData" :key="idx" class="pa-3 mx-2 mt-4"
                  elevation="1"
                  style="display: grid; grid-template-rows: auto; gap: 10px; cursor:pointer;"
                  @click="dialog= true">
            <div class="d-flex justify-space-between">
              <span>{{ item.customer?.full_name }}</span>
              <span style="color: #667085">{{ item.day }} {{ item.time }}</span>
            </div>
            <div>
              <span style="color: #DC6803">+{{ item.customer.phone }}</span>
            </div>
            <div class="d-flex justify-space-between align-center">
              <span style="color: #667085">${{ item.total }}</span>
              <span
                style="color: #DC6803; background: #FFFAEB; border-radius: 16px; padding: 1px">{{
                  isTakeIt(item.take_it)
                }}</span>
              <span style="color: #039855">{{ methodRu[item.method] }}</span>
            </div>
          </v-card>
        </div>
      </div>
      <!--      ready data-->
      <div class="h-100" style="background: #FCFCFD; overflow-y: auto">
        <div class="h-auto" style=" position: relative">
          <the-modal :dialog="dialog" @some-event="calback"></the-modal>
          <div class="py-3 px-2 d-flex justify-space-between"
               style="position:sticky; z-index: 1; top: 0px; background: #EFF8FF; width: 100%">
            <span style="color: #9E77ED">Блюда готово</span>
            <v-icon class="ml-2" color="#9E77ED" icon="mdi-arrow-down"></v-icon>
          </div>
          <v-card v-for="(item, idx) in props.readyData" :key="idx" class="pa-3 mx-2 mt-4"
                  elevation="1"
                  style="display: grid; grid-template-rows: auto; gap: 10px; cursor:pointer;"
                  @click="dialog= true">
            <div class="d-flex justify-space-between">
              <span>{{ item.customer?.full_name }}</span>
              <span style="color: #667085">{{ item.day }} {{ item.time }}</span>
            </div>
            <div>
              <span style="color: #DC6803">+{{ item.customer.phone }}</span>
            </div>
            <div class="d-flex justify-space-between align-center">
              <span style="color: #667085">${{ item.total }}</span>
              <span
                style="color: #DC6803; background: #FFFAEB; border-radius: 16px; padding: 1px">{{
                  isTakeIt(item.take_it)
                }}</span>
              <span style="color: #039855">{{ methodRu[item.method] }}</span>
            </div>
          </v-card>
        </div>
      </div>
      <!--      on the way data-->
      <div class="h-100" style="background: #FCFCFD; overflow-y: auto">
        <div class="h-auto" style=" position: relative">
          <the-modal :dialog="dialog" @some-event="calback"></the-modal>
          <div class="py-3 px-2 d-flex justify-space-between"
               style="position:sticky; z-index: 1; top: 0px; background: #EFF8FF; width: 100%">
            <span style="color: #FB6514">Курьер забрал заказ</span>
            <v-icon class="ml-2" color="#FB6514" icon="mdi-arrow-down"></v-icon>
          </div>
          <v-card v-for="(item, idx) in props.oneTheWayData" :key="idx" class="pa-3 mx-2 mt-4"
                  elevation="1"
                  style="display: grid; grid-template-rows: auto; gap: 10px; cursor:pointer;"
                  @click="dialog= true">
            <div class="d-flex justify-space-between">
              <span>{{ item.customer?.full_name }}</span>
              <span style="color: #667085">{{ item.day }} {{ item.time }}</span>
            </div>
            <div>
              <span style="color: #DC6803">+{{ item.customer.phone }}</span>
            </div>
            <div class="d-flex justify-space-between align-center">
              <span style="color: #667085">${{ item.total }}</span>
              <span
                style="color: #DC6803; background: #FFFAEB; border-radius: 16px; padding: 1px">{{
                  isTakeIt(item.take_it)
                }}</span>
              <span style="color: #039855">{{ methodRu[item.method] }}</span>
            </div>
          </v-card>
        </div>
      </div>
      <!--      close data-->
      <div class="h-100" style="background: #FCFCFD; overflow-y: auto">
        <div class="h-auto" style=" position: relative">
          <the-modal :dialog="dialog" @some-event="calback"></the-modal>
          <div class="py-3 px-2 d-flex justify-space-between"
               style="position:sticky; z-index: 1; top: 0px; background: #EFF8FF; width: 100%">
            <span style="color: #12B76A">Курьер доставил заказ</span>
            <v-icon class="ml-2" color="#12B76A" icon="mdi-arrow-down"></v-icon>
          </div>
          <v-card v-for="(item, idx) in props.closeData" :key="idx" class="pa-3 mx-2 mt-4"
                  elevation="1"
                  style="display: grid; grid-template-rows: auto; gap: 10px; cursor:pointer;"
                  @click="dialog= true">
            <div class="d-flex justify-space-between">
              <span>{{ item.customer?.full_name }}</span>
              <span style="color: #667085">{{ item.day }} {{ item.time }}</span>
            </div>
            <div>
              <span style="color: #DC6803">+{{ item.customer.phone }}</span>
            </div>
            <div class="d-flex justify-space-between align-center">
              <span style="color: #667085">${{ item.total }}</span>
              <span
                style="color: #DC6803; background: #FFFAEB; border-radius: 16px; padding: 1px">{{
                  isTakeIt(item.take_it)
                }}</span>
              <span style="color: #039855">{{ methodRu[item.method] }}</span>
            </div>
          </v-card>
        </div>
      </div>
      <!--      rejected data-->
      <div class="h-100" style="background: #FCFCFD; overflow-y: auto">
        <div class="h-auto" style=" position: relative">
          <the-modal :dialog="dialog" @some-event="calback"></the-modal>
          <div class="py-3 px-2 d-flex justify-space-between"
               style="position:sticky; z-index: 1; top: 0px; background: #EFF8FF; width: 100%">
            <span style="color: red">Отменёные заказы</span>
            <v-icon class="ml-2" color="red" icon="mdi-arrow-down"></v-icon>
          </div>
          <v-card v-for="(item, idx) in props.rejectedData" :key="idx" class="pa-3 mx-2 mt-4"
                  elevation="1"
                  style="display: grid; grid-template-rows: auto; gap: 10px; cursor:pointer;"
                  @click="dialog= true">
            <div class="d-flex justify-space-between">
              <span>{{ item.customer?.full_name }}</span>
              <span style="color: #667085">{{ item.day }} {{ item.time }}</span>
            </div>
            <div>
              <span style="color: #DC6803">+{{ item.customer.phone }}</span>
            </div>
            <div class="d-flex justify-space-between align-center">
              <span style="color: #667085">${{ item.total }}</span>
              <span
                style="color: #DC6803; background: #FFFAEB; border-radius: 16px; padding: 1px">{{
                  isTakeIt(item.take_it)
                }}</span>
              <span style="color: #039855">{{ methodRu[item.method] }}</span>
            </div>
          </v-card>
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts" setup>
import TheModal from "@/components/baseModal/TheModal";
import {ref} from "vue";

const methodRu = {
  cash: 'Наличные',
  card: 'Карта',
  voucher: 'Ваучер'
}

function isTakeIt(value: boolean) {
  return value ? 'Навынос' : 'Доставка'
}

interface Delivery {
  id: number
  method: 'cash' | 'card' | 'voucher'
  time: string
  day: string
  status: 'open' | 'accepted' | 'ready' | 'on_the_way' | 'close'
  total: string
  total_delivery: string
  total_item: string
  take_it: boolean
  by: 'restaurant' | 'customer' | 'admin'
  address: {
    name: string,
    lat: string,
    long: string
    id: number
  }
  card: null | {
    number: string
    id: number
  }
  delivery_items: {
    id: number
    quantity: number
    food: {
      id: number
      name: string
      price: number
    }
  }[]
  customer: {
    id: number
    full_name: string
    phone: string
  }
  curier: null | {
    id: number
    full_name: string
    phone: string
    car: string
  }
}

interface Props {
  openData: Delivery[],
  acceptedDispatcherData: Delivery[],
  acceptedRestaurantData: Delivery[],
  closeData: Delivery[],
  oneTheWayData: Delivery[],
  readyData: Delivery[],
  rejectedData: Delivery[]
}

const props = defineProps<Props>()

const dialog = ref(false)
const calback = () => {
  dialog.value = false
}

</script>

<style scoped>

.main {
  /* How many columns to show. */
  --visible-cols: 4;
  /* Gap between columns. */
  --col-gap: 20px;

  /* How much to show of the next hidden column. You can use this as a hint to show the user there are more scrollable items. Particularly helpful for mobile devices where the scrollbar gets hidden by default.*/
  --col-hint: 0px;
  --scroller-padding: 20px;
  /*  Calculated column size. */
  --col-size: calc((100% / var(--visible-cols)) - var(--col-gap) - var(--col-hint));
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: var(--col-size);
  grid-auto-columns: var(--col-size);
  overflow-x: auto;
  overflow-y: hidden;
  grid-gap: var(--col-gap);
  padding-bottom: var(--scroller-padding);
}
</style>
