<template>
  <v-row>
    <v-col cols="6">
      <h3>Рестораны</h3>
      <p>View your team’s trades and transactions.</p>
    </v-col>
    <v-col class="d-flex justify-end" cols="6">
      <add-btn></add-btn>
    </v-col>
    <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
           style="background: #F9FAFB; border-radius: 12px; padding: 12px">
      <input-filter></input-filter>
      <filter-btn></filter-btn>
    </v-col>
  </v-row>
</template>
<script lang="ts" setup>


import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";</script>
