<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'30'" class="h-100" @some-event="callback">
      <div>
          <v-text-field v-model="form.name" label="Название блюда" variant="outlined"></v-text-field>
          <v-text-field type="number" v-model="form.price" label="Цена блюда" variant="outlined"></v-text-field>
        <v-select :items="categoryData"
                  v-model="form.category_id"
                  item-title="name"
                  item-value="id" variant="outlined"></v-select>
          <v-file-input label="Фото ресторана" variant="outlined" @change="changeImage"></v-file-input>
      </div>
      <v-row>
        <v-col class="d-flex" cols="6">
          <v-btn class="w-100" variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="text-white w-100" color="#DC6803" variant="flat" @click="handleForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Добавление блюда</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn :name="'Добавить'" @click="dialog = true"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все добавить блюда</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr class="w-100">
            <th v-for="(item, idx) in thead" :key="idx" class="text-left w-auto">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx2) in dishesData" :key="idx2"
              class="w-100"
          >

            <td class="w-auto">
              <v-avatar class="mr-2">
                <v-img
                  :src="imageUrl + item.image"
                  alt="John"
                ></v-img>
              </v-avatar>
             <span>{{item.name}}</span>
            </td>
            <td class="w-auto">{{item.price}}</td>
            <td class="w-auto">
              {{item.category.name}}
            </td>

            <td class="d-flex  justify-end">
              <v-btn elevation="0" icon="mdi-pen" @click="editItem(item)"></v-btn>
              <v-btn elevation="0" icon="mdi-delete" @click="deleteId(item.id)"></v-btn>
            </td>

          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, ref} from "vue";
import {useStore} from "@/stores";
import {useImagesStore} from "@/stores/image";

const imageStore = useImagesStore()

const indexStore = useStore()
const imageUrl = import.meta.env.VITE_APP_BASE_IMAGE
const dialog = ref(false)
const editItemValue = ref(0)

interface Dishes {
  id?: number,
  name: '',
  image: ''
  category_id: number | string
  price: number | string

}

const form = ref<Dishes>({
  name: '',
  image: '',
  category_id: 'Выберите категорию',
  price: ''
})

indexStore.fetchActionWithoutParams(`/food`, "food")
const dishesData = computed(() => indexStore.data?.food?.foods)

indexStore.fetchActionWithoutParams('category', 'category')
const categoryData = computed(() => indexStore.data?.category?.categories)

const changeImage = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])
  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link
    console.log(form.value.image)
  })
}

const handleForm = () => {
  if (editItemValue.value === 0) {
    indexStore.postAction(`/food`, form.value).then((res) => {
      if (res) {
        indexStore.fetchActionWithoutParams(`/food`, "food")
      }
    })
  } else {
    indexStore.editAction(`/food/${editItemValue.value}`, form.value)
  }
  editItemValue.value = 0
  form.value.name = ''
  form.value.image = ''
  form.value.category_id = 'Выберите категорию'
  form.value.price = ''
  dialog.value = false
}

const editItem = (item: any) => {
  editItemValue.value = item.id
  form.value.name = item.name
  form.value.image = item.image
  form.value.category_id = item.category_id
  form.value.price = item.price
  dialog.value = true
}

const deleteId = (id: number) => {
  indexStore.deleteAction(`/food/${id}`).then((res) => {
    if (res) {
      indexStore.fetchActionWithoutParams(`/food`, "food")
    }
  })
}

const callback = () => {
  dialog.value = false
}


const thead = [
  {
    value: 'Название ресторана'
  },
  {
    value: 'Цена'
  },
  {
    value: 'Категории'
  },
  {
    value: ''
  },

]

</script>
