<template>
  <div class="h-100">
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Рестораны</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все рестораны</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr>
            <th v-for="(item, idx) in thead" :key="idx" class="text-left">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx2) in tbody"
              :key="idx2"
          >

            <td>
              <v-avatar class="mr-2">
                <v-img
                  alt="John"
                  src="https://cdn.vuetifyjs.com/images/john.jpg"
                ></v-img>
              </v-avatar>
              {{ item.restaurant_name }}
            </td>
            <td>{{ item.dostavki }}</td>
            <td>{{ item.opisanie }}</td>
            <td class="d-flex align-center justify-start">
              <v-switch
                v-model="item.status"
                color="red"
                hide-details
                inset
              ></v-switch>
              <span v-if="item.status === true">Заблокировать</span>
              <span v-if="item.status === false">Разблокировать</span>
            </td>

          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import {ref} from "vue";

const dialog = ref(false)
const image = ref('')

const callback = () => {
  dialog.value = false
}


function checked(id: number, boolean: boolean) {
  console.log(id, boolean)
  const item = tbody.find(i => i.id === id)
  console.log(tbody)
  if (item) {
    item.status = boolean
  }
}

const thead = [
  {
    name: 'restaurant_name',
    value: 'Название ресторана'
  },
  {
    name: 'dostavki',
    value: 'Лимит доставки'
  },
  {
    name: 'opisanie',
    value: 'Описание'
  },
  {
    name: 'status',
    value: 'Cтатус'
  },
  {
    name: '',
    value: ''
  }
]
const tbody = [
  {
    id: 1,
    restaurant_name: 'Merhaba',
    dostavki: '30мин-90мин',
    opisanie: 'Капитан Шэм пригласил всех нас в ресторан , чтобы обсудить вопрос опекунства.',
    status: true,
  },
  {
    id: 2,
    restaurant_name: 'Merhaba',
    dostavki: '30мин-90мин',
    opisanie: 'Капитан Шэм пригласил всех нас в ресторан , чтобы обсудить вопрос опекунства.',
    status: false,
  },
  {
    id: 3,
    restaurant_name: 'Merhaba',
    dostavki: '30мин-90мин',
    opisanie: 'Капитан Шэм пригласил всех нас в ресторан , чтобы обсудить вопрос опекунства.',
    status: true,
  },
  {
    id: 4,
    restaurant_name: 'Merhaba',
    dostavki: '30мин-90мин',
    opisanie: 'Капитан Шэм пригласил всех нас в ресторан , чтобы обсудить вопрос опекунства.',
    status: false,
  }

]
</script>
