<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'30'" class="h-100" @some-event="callback">
      <div>
        <v-text-field v-model="form.name" label="Название" variant="outlined"></v-text-field>
        <v-text-field v-model="form.table_count" label="количествостолов" type="number" variant="outlined"></v-text-field>
      </div>
      <v-row>
        <v-col class="d-flex" cols="6">
          <v-btn class="w-100" variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="text-white w-100" color="#DC6803" variant="flat" @click="handleForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Категория блюд</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn :name="'Добавить'" @click="dialog = true"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все рестораны</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr class="w-100">
            <th v-for="(item, idx) in thead" :key="idx" class="text-left w-100">
              {{ item.value }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx) in roomData" :key="idx"
              class="w-100"
          >

            <td class="w-auto">
              {{ item.name }}
            </td>
            <td class="w-auto">
              {{ item.tables.length }}
            </td>

            <td class="d-flex  align-center">
              <v-btn elevation="0" icon="mdi-pen" @click="editItem(item)"></v-btn>
              <v-btn elevation="0" icon="mdi-delete" @click="deleteFormId(item.id)"></v-btn>
            </td>

          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, onMounted, ref} from "vue";
import {useStore} from "@/stores";

const indexStore = useStore()

interface Restaurant {
  name: '',
  table_count: number | string

}

const dialog = ref(false)
const editItemValue = ref(0)

const form = ref<Restaurant>({
  name: '',
  table_count: ''
})

indexStore.fetchActionWithoutParams('/room', 'room')

const roomData = computed(() => indexStore.data?.room?.rooms)



const handleForm = () => {
  if (editItemValue.value === 0) {
    indexStore.postAction('/room', form.value).then(() => {
      indexStore.fetchActionWithoutParams('/room', 'room')
    })
  } else  {
    indexStore.editAction(`/category/${editItemValue.value}`, form.value).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams('/room', 'room')
        editItemValue.value = 0
        form.value.name = form.value.table_count = ''
      }
    })
  }
  dialog.value = false
  form.value.name = ''
  form.value.table_count = ''
  editItemValue.value = 0
}
const editItem = (item: any) => {
  if (item) {
    form.value.name = item.name
    form.value.table_count = item.tables.length
    editItemValue.value = item.id
  }
  dialog.value = true
}

const deleteFormId = (id: number) => {
  indexStore.deleteAction(`/room/${id}`).then(res => {
    if (res) {
      indexStore.fetchActionWithoutParams('/room', 'room')
    }
  })
}

const callback = () => {
  dialog.value = false
  editItemValue.value = 0
}

onMounted(() => {
})

const thead = [
  {
    value: 'Название'
  },
  {
    value: 'количествостолов'
  },
  {
    value: ''
  },
]
</script>
