<template>
  <v-card class="">
    <div class="pa-6 ">
      <h3>{{ props.name }}</h3>
    </div>
    <v-divider></v-divider>
    <v-table
      fixed-header
      height="65vh"
    >
      <thead>
      <tr>
        <th v-for="(item, idx) in props.thead" :key="idx" class="text-left">
          {{ item.value }}
        </th>

      </tr>
      </thead>
      <tbody>
      <tr
        v-for="(item, idx) in props.tbody"
        :key="idx"
      >

        <td v-for="(item2, idx2) in props.thead" :key="idx2" class="flex">
          <span v-if=" typeof item[item2.name] !== 'boolean'">{{ item[item2.name] }}</span>
          <div class="d-flex">
            <v-switch
              v-if=" typeof item[item2.name] === 'boolean' && checked"
              v-model="item[item2.name]"
              color="green"
              hide-details
              inset
              @change="() => { checked(item.id, !item[item2.name])}"
            ></v-switch>
            <v-btn v-if=" typeof item[item2.name] === 'undefined'" elevation="0" icon="mdi-pen"></v-btn>
            <v-btn v-if=" typeof item[item2.name] === 'undefined'" elevation="0" icon="mdi-delete "></v-btn>
          </div>
        </td>

      </tr>
      </tbody>
    </v-table>
  </v-card>
</template>
<script lang="ts" setup>

import {onMounted} from "vue";

const props = defineProps({
  thead: {
    type: Array,
    required: true
  },
  tbody: {
    type: Array,
    required: true
  },
  checked: {
    type: Function,
    required: false
  },
  name: String
})

onMounted(() => {
})


</script>
