<template>
  <div class="w-33 d-flex align-center" style="position:relative">
    <input class="py-3 pl-10 w-100 " placeholder="Поиск" type="text"/>
    <v-icon color="#667085" icon="mdi-magnify" style="position:absolute; left: 2%;"></v-icon>
  </div>
</template>
<style scoped>
input {
  background-color: transparent;
  border: 1px solid #D0D5DD;
  color: #667085;
  border-radius: 8px;
}

input:focus {
  outline: none;
}
</style>
