<template>
  <v-row class="h-100" justify="center">
    <v-dialog
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      v-model="props.dialog"
    >
      <v-card>
        <v-toolbar class="pa-5">
          <div>
            <h3>Идентификатор: {{data.id}}</h3>
            <p>Manage your team members and their account permissions here.</p>
          </div>
          <v-spacer></v-spacer>
          <div style="display:flex; gap: 12px">
            <v-btn variant="flat" @click="$emit('someEvent')">Отменить</v-btn>
            <v-btn color="#FFFAEB" variant="flat">
              <v-icon color="#B54708" icon="mdi-plus"></v-icon>
              <span style="color: #B54708;">Курьер</span>
            </v-btn>
            <v-select :items="['California', 'Colorado', 'Florida', 'Georgia Georgia Georgia', 'Texas', 'Wyoming']"
                      class="elevation-0"
                      density="compact"
                      label="Статус"
                      style="min-width: 150px"
                      variant="outlined"
            ></v-select>


          </div>
        </v-toolbar>
        <v-divider></v-divider>
        <div class="d-flex">
          <div class="w-50">
            <v-card class="ma-5" elevation="1">
              <div class="pa-3" style="background: #F9FAFB"><span>Общие данные</span></div>
              <div>
                <div class="d-flex pa-3">
                  <span>Статус</span>
                  <v-spacer></v-spacer>
                  <span v-for="(item, i) in status" :key="i">{{item.key === data.status ?  item.value : ''}}</span>
                  <span></span>
                </div>
                <v-divider></v-divider>
                <div class="d-flex pa-3">
                  <span>Способ оплаты</span>
                  <v-spacer></v-spacer>
                  <span>{{ methodRu[data.method]}}</span>
                  <span></span>
                </div>
                <v-divider></v-divider>
                <div class="d-flex pa-3">
                  <span>Сумма</span>
                  <v-spacer></v-spacer>
                  <span>${{data.total_item}}</span>
                  <span></span>
                </div>
                <v-divider></v-divider>
                <div class="d-flex pa-3">
                  <span>Дата</span>
                  <v-spacer></v-spacer>
                  <span>{{data.day}}</span>
                  <span></span>
                </div>
                <v-divider></v-divider>
                <div class="d-flex pa-3">
                  <span>Время</span>
                  <v-spacer></v-spacer>
                  <span>{{ data.time }}</span>
                  <span></span>
                </div>
                <v-divider></v-divider>
              </div>
            </v-card>
          </div>
          <div class="w-50">
            <v-table
              fixed-header
              height="65vh"
            >
              <thead>
              <tr class="w-100">
                <th v-for="(item, idx) in thead" :key="idx" class="text-left w-auto">
                  {{ item }}
                </th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item, idx) in data.delivery_items" :key="idx"
                  class="w-100"
              >

                <td class="w-auto">
                  {{ item.food.name }}
                </td>
                <td class="w-auto">
                  {{ item.quantity }}
                </td>
                <td class="w-auto">
                  {{ item.food.price }}
                </td>
              </tr>
              </tbody>
            </v-table>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script lang="ts" setup>
const props = defineProps({
  dialog: {
    type: Boolean,
    required: true
  },
  data: {
    type: Array,
    required: true
  }
})
const thead = ['Название', 'Kоличество', 'Цена']
const status = [
  {key: 'open', value: 'открытым'},
  {key: 'accepted', value: 'принято'},
  {key: 'close', value: 'закрыть'},
  {key: 'on_the_way', value: 'в пути'},
  {key: 'ready', value: 'готовы'},
  {key: 'rejected', value: 'отклоненный'},
]
const methodRu = {
  cash: 'Наличные',
  card: 'Карта',
  voucher: 'Ваучер'
}
</script>
