<template>
  <v-btn color="warning" variant="flat">
    <v-icon class="mr-2" icon="mdi-plus">
    </v-icon>
    {{props.name}}
  </v-btn>
</template>
<script lang="ts" setup>
const props = defineProps({
  name: String
})
</script>
