<template>
  <div class="d-flex" style="position:relative;">
    <v-card :class="{ 'hidden' : menu === false}" class="py-5 px-6"
            style="position: absolute; right: 125px; top: 40px; z-index: 1"
            width="368px">
      <div class="d-flex mb-6 align-center">
        <span>Фильтр ресторан</span>
        <v-spacer></v-spacer>
        <v-icon icon="mdi-close-thick" @click="menu= false"></v-icon>
      </div>
      <v-select
        class="elevation-0"
        density="compact"
        label="Выберите категории кухни" variant="outlined"
      ></v-select>
      <v-select
        class="elevation-0"
        density="compact"
        label="Выберите лимит доставки" variant="outlined"
      ></v-select>

      <v-row>
        <v-col cols="6">
          <v-btn class="w-100" s variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="w-100 text-white" color="#DC6803" variant="flat">Найти</v-btn>
        </v-col>
      </v-row>
    </v-card>
    <v-btn
      variant="outlined"
      @click="handleClick"
    >
      <v-icon class="mr-2" icon="mdi-filter-variant"></v-icon>
      Фильтр
    </v-btn>
  </div>
</template>
<script lang="ts" setup>

import {ref} from "vue";

const menu = ref(false)

const handleClick = () => {
  menu.value = !menu.value
}
</script>
<style scoped>
.hidden {
  display: none;
}
</style>
