<template>
  <div class="default" name="routerChange">
    <slot :key="route.params" />
  </div>
</template>

<script lang="ts" setup>
import { useRoute } from "vue-router";

const route = useRoute();
</script>

<style scoped>
.default {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background: #DC6803;
}
</style>
