<template>
  <v-layout>
    <v-navigation-drawer color="#B54708" permanent>
      <v-sheet
        class="pa-4"
        color="#B54708"
      >
        <svg fill="none" height="32" viewBox="0 0 80 32" width="80" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 16C0 7.16344 6.82233 0 15.2381 0C23.6539 0 30.4762 7.16344 30.4762 16C30.4762 24.8366 23.6539 32 15.2381 32C6.82233 32 0 24.8366 0 16Z"
            fill="white"/>
          <path d="M9.11428 22.5801H6.03809V10.0801H9.11428V22.5801Z" fill="#F79009"/>
          <path
            d="M12.6232 10.0801H16.347L22.0804 19.0601L21.9375 10.0801H24.947V22.5801H21.528L15.5089 13.1301L15.6423 22.5801H12.6232V10.0801Z"
            fill="#F79009"/>
          <path
            d="M35.8953 15.88C35.8953 11.64 38.2254 9.52002 42.8857 9.52002C45.1461 9.52002 46.8445 10 47.981 10.96C49.2381 12.02 49.8667 13.7034 49.8667 16.01C49.8667 18.3234 49.2413 20.01 47.9905 21.07C46.8476 22.0367 45.1461 22.52 42.8857 22.52C40.581 22.52 38.8635 22.0267 37.7334 21.04C36.508 19.9667 35.8953 18.2467 35.8953 15.88ZM42.8857 11.66C40.3715 11.66 39.1143 13.0734 39.1143 15.9C39.1143 17.3667 39.3873 18.46 39.9334 19.18C40.5429 19.9667 41.527 20.36 42.8857 20.36C45.4064 20.36 46.6667 18.91 46.6667 16.01C46.6667 13.11 45.4064 11.66 42.8857 11.66Z"
            fill="white"/>
          <path
            d="M52.4709 9.76002H56.1947L61.928 18.74L61.7852 9.76002H64.7947V22.26H61.3756L55.3566 12.81L55.4899 22.26H52.4709V9.76002Z"
            fill="white"/>
          <path
            d="M74.0084 11.94C71.9132 11.94 70.8084 12.9067 70.6941 14.84L78.8465 14.85V17.02H70.6751C70.6814 18.1667 70.9735 18.9767 71.5513 19.45C72.0655 19.87 72.8846 20.08 74.0084 20.08H78.8465V22.26H73.8656C71.9798 22.26 70.5259 21.8934 69.5036 21.16C68.0687 20.1334 67.3513 18.49 67.3513 16.23C67.3513 13.9634 67.9195 12.3067 69.056 11.26C70.129 10.26 71.7608 9.76002 73.9513 9.76002H78.8465V11.94H74.0084Z"
            fill="white"/>
        </svg>
      </v-sheet>
      <v-divider></v-divider>
      <v-list class="mx-2">
        <router-link v-for="[icon, text, route] in links" :key="icon" :to="route" style="text-decoration: none">
          <v-list-item :class=" route === router.path ? 'active-color' : ''" class="my-2 rounded-lg">
            <template v-slot:prepend>
              <v-icon color="#fff" style="opacity: 1">{{ icon }}
              </v-icon>
            </template>
            <v-list-item-title class="text-white">{{ text }}</v-list-item-title>
          </v-list-item>
        </router-link>
      </v-list>
    </v-navigation-drawer>
    <v-main class="h-screen">
      <v-container class="h-100" fluid>
        <slot :key="router.params"/>
      </v-container>
    </v-main>
  </v-layout>
</template>
<script lang="ts" setup>
import {useRoute} from "vue-router";

const router = useRoute()
const links = [
  ['mdi-home', 'Главная', '/'],
  ['mdi-truck-delivery', 'Доставка', '/delivery'],
  ['mdi-clipboard-minus-outline', 'Бронирование', '/booking'],
  ['mdi-silverware-fork-knife', 'Ресторан', '/restaurant'],
  ['mdi-cards-variant', 'Категория блюд', '/category-restaurant'],
  ['mdi-cards-diamond-outline', 'Добавить блюда', '/popular-dishes'],
  ['mdi-sofa-single', 'Номер', '/rooms'],
  ['mdi-account-hard-hat-outline', 'Сотрудники', '/staff'],
  ['mdi-bell', 'Уведомление', '/notification'],
]
</script>
<style scoped>
.active-color {
  background: #93370D;
}
</style>
