<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'30'" class="h-100" @some-event="callback">
      <div>

        <v-text-field label="Название ресторана" variant="outlined"></v-text-field>


        <v-text-field label="login" variant="outlined"></v-text-field>


        <v-text-field label="Parol" variant="outlined"></v-text-field>


        <v-select label="Select"
                  variant="outlined"
        ></v-select>

      </div>
      <v-row>
        <v-col class="d-flex" cols="6">
          <v-btn class="w-100" variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="text-white w-100" color="#DC6803" variant="flat">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Популярные блюда</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn @click="dialog = true"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все Admins</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr class="w-100">
            <th v-for="(item, idx) in thead" :key="idx" class="text-left ">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx) in tbody" :key="idx"
              class="w-100"
          >
            <td>

              {{ item.name }}
            </td>
            <td>

              {{ item.login }}
            </td>
            <td>

              {{ item.type }}
            </td>

            <td class="d-flex  align-center">
              <v-btn elevation="0" icon="mdi-pen"></v-btn>
              <v-btn elevation="0" icon="mdi-delete "></v-btn>
            </td>

          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {ref} from "vue";

const dialog = ref(false)
const image = ref('')

const callback = () => {
  dialog.value = false
}


function checked(id: number, boolean: boolean) {
  console.log(id, boolean)
  const item = tbody.find(i => i.id === id)
  console.log(tbody)
  if (item) {
    item.status = boolean
  }
}

const thead = [
  {
    name: 'Имя',
    value: 'Имя'
  },
  {
    name: '',
    value: 'Login'
  },
  {
    name: '',
    value: 'Должность'
  },
  {
    name: '',
    value: ''
  },


]
const tbody = [
  {
    id: 1,
    name: 'Merhaba',
    login: 'Qodir21169',
    type: 'Admin '
  },
  {
    id: 1,
    name: 'Merhaba',
    login: 'Qodir21169',
    type: 'Admin '
  },
  {
    id: 1,
    name: 'Merhaba',
    login: 'Qodir21169',
    type: 'Admin '
  },
  {
    id: 1,
    name: 'Merhaba',
    login: 'Qodir21169',
    type: 'Admin '
  },

]
</script>
