<template>
  <div class="h-100">
    <card-modal :dialog="dialog" :width="'30'" class="h-100" @some-event="callback">
      <v-row>
        <v-col cols="12">
          <v-text-field v-model="form.name" label="Название ресторана" variant="outlined"></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-file-input label="Фото ресторана" variant="outlined" @change="changeImage"></v-file-input>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex" cols="6">
          <v-btn class="w-100" variant="outlined">Отменить</v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn class="text-white w-100" color="#DC6803" variant="flat" @click="handleForm">Создать</v-btn>
        </v-col>
      </v-row>
    </card-modal>
    <div class="h-25">
      <v-row>
        <v-col cols="6">
          <h3>Категория блюд</h3>
          <p>View your team’s trades and transactions.</p>
        </v-col>
        <v-col class="d-flex justify-end" cols="6">
          <add-btn :name="'Добавить'" @click="dialog = true"></add-btn>
        </v-col>
        <v-col class="d-flex align-center my-6 justify-space-between" cols="12"
               style="background: #F9FAFB; border-radius: 12px; padding: 12px">
          <input-filter></input-filter>
          <filter-btn></filter-btn>
        </v-col>
      </v-row>
    </div>
    <div class="h-75">
      <v-card class="">
        <div class="pa-6 ">
          <h3>Все рестораны</h3>
        </div>
        <v-divider></v-divider>
        <v-table
          fixed-header
          height="65vh"
        >
          <thead>
          <tr class="w-100">
            <th v-for="(item, idx) in thead" :key="idx" class="text-left w-100">
              {{ item.value }}
            </th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, idx) in restaurantData" :key="idx"
              class="w-100"
          >

            <td class="w-100">
              <v-avatar class="mr-2">
                <v-img
                  :src="imageUrl + item.image"
                  alt="not found images"
                ></v-img>
              </v-avatar>
              {{ item.name }}
            </td>

            <td class="d-flex  align-center">
              <v-btn elevation="0" icon="mdi-pen" @click="editItem(item)"></v-btn>
              <v-btn elevation="0" icon="mdi-delete" @click="deleteFormId(item.id)"></v-btn>
            </td>

          </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import InputFilter from "@/components/baseInput/InputFilter.vue";
import AddBtn from "@/components/baseButton/AddBtn.vue";
import FilterBtn from "@/components/baseButton/FilterBtn.vue";
import CardModal from "@/components/baseModal/CardModal.vue";
import {computed, onMounted, ref} from "vue";
import {useStore} from "@/stores";
import {useImagesStore} from "@/stores/image";
import {useRestaurantStore} from "@/stores/restaurant";

const imageUrl = import.meta.env.VITE_APP_BASE_IMAGE
const restaurantStore = useRestaurantStore()

const imageStore = useImagesStore()

const indexStore = useStore()

interface Restaurant {
  id?: number,
  name: '',
  image: ''

}

const dialog = ref(false)
const editItemValue = ref(null)

const form = ref<Restaurant>({
  name: '',
  image: ''
})

indexStore.fetchActionWithoutParams('/category', 'category')

const restaurantData = computed(() => indexStore.data?.category?.categories)

const changeImage = (e: any) => {
  const data = new FormData();
  data.append('path', 'restaurant')
  data.append('file', e.target.files[0])
  imageStore.postImage(data).then(() => {
    form.value.image = imageStore.image?.data?.link
  })
}

const handleForm = () => {
  if (editItemValue.value === null) {
  indexStore.postAction('/category', form.value).then(() => {
    indexStore.fetchActionWithoutParams('/category', 'category')
    form.value.name = form.value.image = ''
  })
  } else  {
    indexStore.editAction(`/category/${editItemValue.value}`, form.value).then(res => {
      if (res) {
        indexStore.fetchActionWithoutParams('/category', 'category')
        editItemValue.value = null
        form.value.name = form.value.image = ''
      }
    })
  }
  dialog.value = false
}
const editItem = (item: any) => {
  if (item) {
    form.value.name = item.name
    form.value.image = item.image
    editItemValue.value = item.id
  }
  dialog.value = true
}

const deleteFormId = (id: number) => {
  indexStore.deleteAction(`/category/${id}`).then((res) => {
    if (res) {
      indexStore.fetchActionWithoutParams('/category', 'category')
    }
  })
}

const callback = () => {
  dialog.value = false
}

onMounted(() => {
  restaurantStore.fetchRestaurantType()
})

const thead = [
  {
    name: 'restaurant_name',
    value: 'Название ресторана'
  },
  {
    name: '',
    value: ''
  },


]
const tbody = [
  {
    id: 1,
    restaurant_name: 'Merhaba',

  },
  {
    id: 2,
    restaurant_name: 'Merhaba',

  },
  {
    id: 3,
    restaurant_name: 'Merhaba',

  },
  {
    id: 4,
    restaurant_name: 'Merhaba',

  }

]
</script>
