<template>
  <div class="h-100">
    <div class="header">
      <div>
        <h3 class="font-weight-medium" style="font-size: 30px">Доставка</h3>
        <p class="font-weight-light mt-1">View your team’s trades and transactions.</p>
      </div>
      <div class="">
        <v-tabs
          v-model="tab"
        >
          <v-tab value="all-delivery">Все заказы</v-tab>
          <v-tab value="canceled-delivery">Отменёные заказы</v-tab>
          <v-tab value="history-delivery">История заказов</v-tab>
        </v-tabs>
        <v-divider></v-divider>
      </div>
      <div class="mb-4 pa-3 d-flex align-center" style="height: 68px; background: #F9FAFB">
        <v-row>
          <v-col cols="4" style="position:relative;">
            <input class="py-3 pl-10 w-100 " placeholder="Поиск" type="text"/>
            <v-icon color="#667085" icon="mdi-magnify" style="position:absolute; top: 35%; left: 20px;"></v-icon>
          </v-col>
          <v-col cols="4"></v-col>
          <v-col class="w-100 d-flex justify-end align-center" cols="4">
            <v-btn class="py-5 d-flex align-center rounded-lg" variant="outlined">
              <v-icon icon="mdi-filter-variant"></v-icon>
              <span class="ml-2">Фильтр</span>
            </v-btn>
          </v-col>
        </v-row>
      </div>
    </div>
    <div class="main">
      <v-window v-model="tab" class="h-100 w-100">
        <v-window-item class="h-100 w-100" value="all-delivery">
          <all-delivery :accepted-dispatcher-data="acceptedDispatcherData"
                        :accepted-restaurant-data="acceptedRestaurantData"
                        :close-data="closeData" :one-the-way-data="oneTheWayData"
                        :open-data="openData" :ready-data="readyData"
                        :rejected-data="rejectedData"></all-delivery>
        </v-window-item>
        <v-window-item value="canceled-delivery">
          Two
        </v-window-item>

        <v-window-item value="history-delivery">
          Three
        </v-window-item>
      </v-window>
    </div>
  </div>
</template>
<script lang="ts" setup>
import {computed, onMounted, ref} from "vue";
import AllDelivery from "@/pages/delivery/AllDelivery.vue";
import {useDelivery} from "@/stores/delivery";

const storeDelivery = useDelivery()

const openData = computed(() => storeDelivery.openData)
const acceptedDispatcherData = computed(() => storeDelivery.acceptedDispatcherData)
const acceptedRestaurantData = computed(() => storeDelivery.acceptedRestaurantData)
const closeData = computed(() => storeDelivery.closeData)
const oneTheWayData = computed(() => storeDelivery.oneTheWayData)
const readyData = computed(() => storeDelivery.readyData)
const rejectedData = computed(() => storeDelivery.rejectedData)
onMounted(() => {
  storeDelivery.fetchStatusDelivery()
})
const tab = ref(null)
</script>
<style scoped>
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.main {
  height: 70%;
}

input {
  background-color: transparent;
  border: 1px solid #D0D5DD;
  color: #667085;
  border-radius: 8px;
}

input:focus {
  outline: none;
}
</style>
